* {
  box-sizing: border-box;
  font-family: sans-serif;
}

#root {
  width: 80%;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input {
  height: 28px;
  border: 1px solid rgba(170, 170, 170, 0.9);
  border-radius: 4px;
  padding: 4px;
}

textarea {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 4px;
  height: 100px;
  width: 50%;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.edit-button {
  height: 20px;
  font-size: 10px;
  background-color: rgba(153, 149, 149, 0.2);
  margin: 0px;
  padding: 2px 6px;
  align-self: flex-end;
}

.submit-button {
  background-color: rgba(153, 149, 149, 0.2);

  height: 28px;
  font-size: 11px;
}
